<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('../css/index.css');
</style>
<body>
    <div id="app">
        <div class="header">
            <h2>{{title}}</h2>
            <input type="text" class="header-input" v-model="searchValue">
            <button class="search" @click="search">搜索</button>
        </div>
        <div class="content">
            <div class="content-item" v-for="(item,index) in list" :key='index'>
                <img :src="`../assets/img_${index+1}.jpg`" alt="">
                <div>
                    <h3>{{item.title}}</h3>
                    <span class="content-sales">{{item.sales}}</span>
                    <p class="content-price">{{item.price}} <s class="content-old-price">{{item.oldPrice}}</s></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</body>
<script>
    const vm = window.vm = new Vue({
        // el:提供一个在页面上已经存在的DOM元素为vue实例
        el:'#app',
        // vue实例的数据对象，用于给view提供数据
        data:{
            searchValue:'',
            title:'校园超市',
            list:[
            {
                title:'君乐宝爆品来袭芝麻味1',
                sales:'累计1.5万份/已拼13份',
                price:'¥91.5',
                oldPrice:'¥99'
           },{
                title:'君乐宝爆品来袭芝麻味2',
                sales:'累计1.5万份/已拼13份',
                price:'¥91.5',
                oldPrice:'¥99'
            },{
                title:'君乐宝爆品来袭芝麻味3',
                sales:'累计1.5万份/已拼13份',
                price:'¥91.5',
                oldPrice:'¥99'
            },{
                title:'君乐宝爆品来袭芝麻味4',
                sales:'累计1.5万份/已拼13份',
                price:'¥91.5',
                oldPrice:'¥99'
            },
            ]
        },
        // vue中写一些方法函数存放的对象
        methods: {
            search(){
                console.log(this.searchValue)
            }
        },
    })

</script>
</html>