<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .activity{ 
        background: pink;
    }
    .content{
        width: 100px;
    }
</style>
<body>
    <div id="app">
        <div v-for="(item,index) in list" :key="index" @click="handleItem(index)" :class="['content',{activity: index===currentIndex}]">
            {{item.name}}
            <div v-for="(i,j) in list[index].child">
                <div v-show="index===currentIndex">
                    {{i}}
                </div>
                
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
<script>
    new Vue({
        el:'#app',
        data(){
            return {
                list:[
                  {
                    name:'我是列表一',
                    child:['我是列表1-1','我是列表1-2','我是列表1-3','我是列表1-4','我是列表1-5']
                  },
                  {
                    name:'我是列表二',
                    child:['我是列表2-1','我是列表2-2','我是列表2-3','我是列表2-4','我是列表2-5']
                  },
                  {
                    name:'我是列表三',
                    child:['我是列表3-1','我是列表3-2','我是列表3-3','我是列表3-4','我是列表3-5']
                  },
                  {
                    name:'我是列表四',
                    child:['我是列表4-1','我是列表4-2','我是列表4-3','我是列表4-4','我是列表4-5']
                  }
                ],
                currentIndex:-1
            }
        },
        methods: {
            handleItem(i){
                this.currentIndex = i
            }
        },

    })
</script>
</html>